/* =========================
   RESET
========================= */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* =========================
   HTML / BODY
========================= */

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    font-family: sans-serif;
    line-height: 1.5;
    color: #242635;
    background: white;
    text-rendering: optimizeSpeed;
}

/* =========================
   MEDIA
========================= */

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* =========================
   TYPOGRAPHY
========================= */

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
    font-weight: inherit;
}

p {
    overflow-wrap: break-word;
}

/* =========================
   LISTS
========================= */

ul,
ol {
    list-style: none;
}

/* =========================
   LINKS
========================= */

a {
    text-decoration: none;
    color: inherit;
}

/* =========================
   FORMS
========================= */

input,
button,
textarea,
select {
    font: inherit;
    color: inherit;
}

/* =========================
   BUTTON
========================= */

button {
    cursor: pointer;
    background: none;
    border: none;
}

/* =========================
   LAYOUT FIX
========================= */

#root,
#__next {
    isolation: isolate;
}